[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
	ignore = dirty
[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	ignore = dirty
[submodule "oh-my-zsh-custom/plugins/zsh-histdb"]
	path = oh-my-zsh-custom/plugins/zsh-histdb
	url = https://github.com/larkery/zsh-histdb
	ignore = dirty
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = dirty
[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm.git
	ignore = dirty
